<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signupservlet</servlet-name>
        <servlet-class>signupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchservlet</servlet-name>
        <servlet-class>searchservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackserv</servlet-name>
        <servlet-class>feedbackserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMfood1</servlet-name>
        <servlet-class>JMfood1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMfood2</servlet-name>
        <servlet-class>JMfood2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMfood3</servlet-name>
        <servlet-class>JMfood3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMfood4</servlet-name>
        <servlet-class>JMfood4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rishfood1</servlet-name>
        <servlet-class>rishfood1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rishfood2</servlet-name>
        <servlet-class>rishfood2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rishfood3</servlet-name>
        <servlet-class>rishfood3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rishfood4</servlet-name>
        <servlet-class>rishfood4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMBERfood1</servlet-name>
        <servlet-class>AMBERfood1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMBERfood2</servlet-name>
        <servlet-class>AMBERfood2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMBERfood3</servlet-name>
        <servlet-class>AMBERfood3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMBERfood4</servlet-name>
        <servlet-class>AMBERfood4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RANfood1</servlet-name>
        <servlet-class>RANfood1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RANfood2</servlet-name>
        <servlet-class>RANfood2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RANfood3</servlet-name>
        <servlet-class>RANfood3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RANfood4</servlet-name>
        <servlet-class>RANfood4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHARDHAMfood1</servlet-name>
        <servlet-class>CHARDHAMfood1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHARDHAMfood2</servlet-name>
        <servlet-class>CHARDHAMfood2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHARDHAMfood3</servlet-name>
        <servlet-class>CHARDHAMfood3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHARDHAMfood4</servlet-name>
        <servlet-class>CHARDHAMfood4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelpayment1</servlet-name>
        <servlet-class>hotelpayment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelpayment2</servlet-name>
        <servlet-class>hotelpayment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelpayment3</servlet-name>
        <servlet-class>hotelpayment3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelpayment4</servlet-name>
        <servlet-class>hotelpayment4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookcnfm</servlet-name>
        <servlet-class>bookcnfm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userinfo</servlet-name>
        <servlet-class>userinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookinfo</servlet-name>
        <servlet-class>bookinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackinfo</servlet-name>
        <servlet-class>feedbackinfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupservlet</servlet-name>
        <url-pattern>/signupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchservlet</servlet-name>
        <url-pattern>/searchservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackserv</servlet-name>
        <url-pattern>/feedbackserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMfood1</servlet-name>
        <url-pattern>/JMfood1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMfood2</servlet-name>
        <url-pattern>/JMfood2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMfood3</servlet-name>
        <url-pattern>/JMfood3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMfood4</servlet-name>
        <url-pattern>/JMfood4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rishfood1</servlet-name>
        <url-pattern>/rishfood1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rishfood2</servlet-name>
        <url-pattern>/rishfood2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rishfood3</servlet-name>
        <url-pattern>/rishfood3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rishfood4</servlet-name>
        <url-pattern>/rishfood4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMBERfood1</servlet-name>
        <url-pattern>/AMBERfood1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMBERfood2</servlet-name>
        <url-pattern>/AMBERfood2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMBERfood3</servlet-name>
        <url-pattern>/AMBERfood3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMBERfood4</servlet-name>
        <url-pattern>/AMBERfood4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RANfood1</servlet-name>
        <url-pattern>/RANfood1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RANfood2</servlet-name>
        <url-pattern>/RANfood2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RANfood3</servlet-name>
        <url-pattern>/RANfood3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RANfood4</servlet-name>
        <url-pattern>/RANfood4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHARDHAMfood1</servlet-name>
        <url-pattern>/CHARDHAMfood1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHARDHAMfood2</servlet-name>
        <url-pattern>/CHARDHAMfood2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHARDHAMfood3</servlet-name>
        <url-pattern>/CHARDHAMfood3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHARDHAMfood4</servlet-name>
        <url-pattern>/CHARDHAMfood4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelpayment1</servlet-name>
        <url-pattern>/hotelpayment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelpayment2</servlet-name>
        <url-pattern>/hotelpayment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelpayment3</servlet-name>
        <url-pattern>/hotelpayment3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelpayment4</servlet-name>
        <url-pattern>/hotelpayment4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookcnfm</servlet-name>
        <url-pattern>/bookcnfm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookinfo</servlet-name>
        <url-pattern>/bookinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackinfo</servlet-name>
        <url-pattern>/feedbackinfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
